variable "cloud_id" {
  type    = string
  default = ""
}

variable "service_account_key_file" {
  type    = string
  default = ""
}

variable "folder_id" {
  type    = string
  default = ""
}

variable "zone" {
  type    = string
  default = ""
}

variable "subnet_id" {
  type    = string
  default = ""
}

variable "instance_count" {
  type    = number
  default = 1
}

variable image_id {
  type        = string
  default     = ""
}
